#A {
    background-color: #7e00db;
    color: white;
}

#B {
    background-color: #2300ff;
    color: white;
}

#C {
    background-color: #007bff;
    color: white;
}

#D {
    background-color: #00eaff;
}

#E {
    background-color: #00ff00;
}

#F {
    background-color: #70ff00;
}

#G {
    background-color: #c3ff00;
}

#H {
    background-color: #ffef00;
}

#R {
    background-color: #ff9b00;
}

#I, #S {
    background-color: #ff0000;
}

#J {
    background-color: #f60000;
}

#T {
    background-color: #c80000;
    color: white;
}

#U {
    background-color: #8d0000;
    color: white;
}