body {
  background: rgb(2,0,36);
  background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(5,5,209,1) 51%, rgba(0,212,255,1) 100%);
  color: white;
}
#A {
  background-color: #7e00db;
  color: white;
}

#B {
  background-color: #2300ff;
  color: white;
}

#C {
  background-color: #007bff;
  color: white;
}

#D {
  background-color: #00eaff;
}

#E {
  background-color: #00ff00;
}

#F {
  background-color: #70ff00;
}

#G {
  background-color: #c3ff00;
}

#H {
  background-color: #ffef00;
}

#R {
  background-color: #ff9b00;
}

#I, #S {
  background-color: #ff0000;
}

#J {
  background-color: #f60000;
}

#T {
  background-color: #c80000;
  color: white;
}

#U {
  background-color: #8d0000;
  color: white;
}

.table-secondary {
  color: black;
}

.flot-tick-label {
  color: white;
}
